---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #000000;
$link-color: #000000;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.sidebar {
  p, li {
    font-size: 1em;
  }

  padding-right: 1em;
}

.page {
  @include breakpoint($large) {
    padding-right: 0;
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }
}

.wide {
  .page {
    @include breakpoint($large) {
      padding-left: 0;
      float: left;
      width: 100%;
    }

    @include breakpoint($x-large) {
      padding-left: 0;
      float: left;
      width: 100%;
    }
  }
}
